<!doctype html>
<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
    <h1> Sign up</h1>



        <form method="post" action="/signup">
          <p>Username: </p><input type="text" name="username">
          <p>First Name: </p><input type="text" name="first_name">
          <p>Last Name: </p><input type="text" name="last_name">
          <input type="submit">
        </form>

    </div>
  </body>
</html>
